body {
  justify-content: center;
  align-items: center;
  height: 500px;
  background: #353E5F;
  margin: 0;
  padding: 50px;
}

p, label {
  color: #DEE2E3;
  font-size: 17px;
  font-family: "Ranade";
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 50px;
  color: #A2B6C6;
}

h2 {
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 30px;
  color: #A2B6C6;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  float: left;
}

#wheel {
  border-radius: 50%;
  border: 10px solid #0C1232;
  box-shadow: 0 0 10px rgba(11,11,69,0.5);
}

.arrow {
  position: absolute;
  top: 35px;
  left: 165px;
  transform: translateX(-50%);
  width: 40px;
}

#spin-btn {
  position: absolute;
  bottom: -120px;
  left: 55%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Ranade";
}

button {
  border-radius: 10px;
  background-color: #2A3439;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  color: #DEE2E3;
  font-size: 20;
  font-family: "papyrus";
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #DEE2E3;
  color: #2A3439;
  font-weight: bold;
  cursor: pointer;
}

input {
  background-color: #2A3439;
  color: #DEE2E3
}

.floatRight {
  float: right;
}

img {
  display: none;
}

.container2 {
  position: relative;
  width: 600px;
  height: 450px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.smile {
  position: absolute;
  top: 85px;
  left: 160px;
  transform: translateX(-50%);
  width: 250px;
}


